.collection {
    width: 100%;
    min-height: 500px;
    background-color: antiquewhite;
    position: relative;
}

.control {
    min-height: 200px;
    background-color: #eee;
}

.content {
    min-height: 500px;
    background-color: azure;
}