.main {
    background-color: #ccc;
    min-height: 100vh;
}
.main_content:nth-child(2) {
    margin-top: var(--header-height-default);
}

.main_content {
    display: flex;
    justify-content: center;
}

.main_content .container {
    width: var(--width-default);
    display: flex;
    justify-content: space-between;
}

.right_content {
    flex: 1;
    height: calc(100vh - 110px);
    overflow: auto;
}

.top_right_content {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
    background-color: pink;
}

.margin {
    height: 10px;
    background-color: #fff;
    width: 100%;
    background: #540054;
    background: -webkit-linear-gradient(to left, #540054, #bf4193);
    background: linear-gradient(to left, #540054, #bf4193);
}