.main {
    background-color: #ccc;
    min-height: 100vh;
}
.main_content:nth-child(2) {
    margin-top: var(--header-height-default);
}

.main_content {
    display: flex;
    justify-content: center;
}

.main_content .container {
    width: var(--width-default);
    display: flex;
    justify-content: space-between;
}