.footer_content {
    min-height: 200px;
    border-top: 2px solid #eee;
    background-color: #fff;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
}

.footer_content .logo {
    display: flex;
}

.footer_content .intro p{
    font-size: 1.7rem;
    line-height: 20px;
    text-shadow: 0 0 1px #eee;
}

.footer_content h3 {
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.9;
}



