.shop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.product_preview {
    grid-row: span 2;
    grid-column: span 3;
    box-shadow: 0 0 2px #ccc;
    padding: 5px;
}

.product_preview_item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 300px;
}

.image_preview img {
    object-fit: contain;
}

.product_preview_item .info {
    padding: 10px 20px;
}

.product_preview_item .info .name {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.product_preview_item .info p {
    margin-bottom: 7px;
}

.product_item {
    cursor: pointer;
    box-shadow: 0 0 1px #ccc;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
}

.product_item::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.product_item:hover {
    box-shadow: 0 0 2px #ccc;   
}

.product_item:hover::before {
    opacity: 0.2;
}

.product_item .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product_item img {
    object-fit: contain;
    width: 80%;
    height: 180px;
}

.product_item .info .name {
    font-weight: 500;
    margin-top: 7px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}