.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 5px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 700;
    background-color: var(--while);
    border: 1px solid transparent;
    user-select: none;
}

.wrapper + .wrapper {
    margin-left: 7px;
}

.wrapper.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.title + .icon,
.icon + .title {
    margin-left: 8px;
}

.icon {
    display: block;
    width: 20px;
    text-align: left;
}

/* Button types */
.rounded {
    border-radius: 1307px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, 0.12);
}

.rounded:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
    border-color: rgba(22, 24, 35, 0.2);
}



.primary {
    background: linear-gradient(to right, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    color: transparent;
    
    cursor: pointer;
}

.primary:hover {
    border-color: #eee;
    opacity: 1;
}

.outline {
    color: var(--primary);
    border-color: currentColor;
}

.outline:hover {
    border-color: currentColor;
    background-color: rgba(255, 44, 85, 0.06);
}

.text:hover {
    text-decoration: underline;
}

/* Button size */
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 137px;
}

.leftIcon {
    margin-right: 5px;
}

.rightIcon {
    margin-left: 5px;
}

.centerIcon {
    margin: 0;
    padding: 0;
}